.trmRarity {
    width: 100%;
    box-shadow: 0 2px 10px -8px black;
    border-bottom: 1px solid rgb(231, 231, 231);
    font-weight: 600;
    color: black;
    text-align: center;
}

:root {
    --top10-disp: block;
    --top20-disp: block;
    --top40-disp: block;
    --top60-disp: block;
    --top80-disp: block;
    --top100-disp: block;
}

.top10 {
    display: var(--top10-disp);
}
.top20 {
    display: var(--top20-disp);
}
.top40 {
    display: var(--top40-disp);
}
.top60 {
    display: var(--top60-disp);
}
.top80 {
    display: var(--top80-disp);
}
.top100 {
    display: var(--top100-disp);
}